下载Mysql，解压，切换到bin目录下，然后在命令行分别输入下面三条命令  
1. mysqld mysql install  
2. mysqld  --initialize-insecure  
3. net start mysql

其中，character_set_client为客户端编码方式；

character_set_connection为建立连接使用的编码；

character_set_database数据库的编码；

character_set_results结果集的编码；

character_set_server数据库服务器的编码

常见的mysql命令  每条命令加上;   
mysql -u root -p  #登录  
show databases  #显示所有的数据库  
show tables #显示表  
use xxxdb  #使用某个数据库   

create database xxxdb #创建数据库  

exit 退出

In [ ]:
mysql -u root -p    
create database temperature;  
show databases;  
use temperature;  

CREATE TABLE IF NOT EXISTS chengdu(
    date date not null primary key,
    hightem int,
    lowtem int,
    temperature varchar(10),
    winddirection varchar(10),
    windpower varchar(10));

In [27]:
import pymysql

db = pymysql.connect(host='localhost',user='root',port=3306,db='temperature',charset='utf8')

In [28]:
cursor = db.cursor()

In [29]:
data = {
    "date": "2018-04-30", 
    "hightem": "10", 
    "lowtem": "29", 
    "temperature": "18", 
    "winddirection": "多云", 
    "windpower": "东北风"}

In [30]:
print(data)

{'date': '2018-04-30', 'hightem': '10', 'lowtem': '29', 'temperature': '18', 'winddirection': '多云', 'windpower': '东北风'}

In [31]:
table = 'chengdu'
keys = ','.join(data.keys())
values = ','.join(['%s']*len(data))
sql = 'INSERT INTO {table}({keys}) VALUES ({values});'.format(table=table, keys=keys, values=values)

In [32]:
print(sql)

INSERT INTO chengdu(date,hightem,lowtem,temperature,winddirection,windpower) VALUES (%s,%s,%s,%s,%s,%s);

In [33]:
cursor.execute(sql, tuple(data.values()))

1

In [34]:
db.commit()

In [35]:
db.close()

In [36]:
import pymysql

HOST = 'localhost'
USER = 'root'
PORT = 3306

DE_DATABASE = 'temperature'
TABLE = 'chengdu'

class MysqlClient(object):
    
    '''MySql Client'''
    def __init__(self, host=HOST,user=USER,port=PORT,db=DE_DATABASE):
        
        #连接mysql中某个数据库
        self.db = pymysql.connect(host,user,port,db,charset="utf8")#连接mysql
        self.cursor = self.db.cursor()#执行单元
        print('connect successfully')
        
    
    #创建数据库
    def createDataBase(self,name):
        sql = 'CREATE DATABASE {name} DEFAULT CHARACTER SET utf8'.format(name=name)
        try:
            self.cursor.execute(sql)
            print('create database {name} successfully'.format(name=name))
        except:
            print('create database {name} failed'.format(name=name))
    
    #在某个数据库中创建表
    def createTable(self, name):
        
        #创建数据表,下面的字段需要根据实际需求自己改
        sql = '''CREATE TABLE IF NOT EXISTS {name}(
                date date not null primary key,
                hightem int,
                lowtem int,
                temperature varchar(10),
                winddirection varchar(10),
                windpower varchar(10));'''.format(name=name)
        try:
            self.cursor.execute(sql)
            print('create table {name} successfully'.format(name=name))
        except:
            print('create table {name} failed'.format(name=name))
            
    
    #插入数据
    def insertData(self, data, table=TABLE):
        #data = {}
        #table = ''
        keys = ','.join(data.keys())
        values = ','.join(['%s']*len(data))
        sql = 'INSERT INTO {table}({keys}) VALUES ({values});'.format(table=table, keys=keys, values=values)
        print(sql)
        try:
            if self.cursor.execute(sql, tuple(data.values())):
                print('Successful insert')
                self.db.commit()
        except:
            print('insert failed')
            self.db.rollback()
    
    #更新数据
    def updateData(self, data, table):
        #data = {}
        #table = ''
        keys = ','.join(data.keys())
        values = ','.join(['%s']*len(data))
        sql = 'INSERT INTO {table}({keys}) VALUES ({values}) ON DUPLICATE KEY UPDATE'.format(table=table, keys=keys, values=values)
        update = ','.join(["{key} = %s".format(key=key) for key in data])
        sql = sql + update
        try:
            if self.cursor.execute(sql, tuple(data.values())*2):
                print('Successful update')
                self.db.commit()
        except:
            print('update failed')
            self.db.rollback()
        self.db.close()
        
    def deleteData(self, table, condition):
        #table = ''
        #condition = ''
        sql = 'DELETE FROM {table} WHERE {condition}'.format(table=table, condition=condition)
        try:
            self.cursor.execute(sql)
            print('delete data successfully')
            self.db.commit()
        except:
            self.db.rollback()
        self.db.rollback()
        
    def queryData(self, condition):
        pass

app = MysqlClient()
data = {
    "date": "2017-04-30", 
    "hightem": "10", 
    "lowtem": "29", 
    "temperature": "18", 
    "winddirection": "多云", 
    "windpower": "东北风"}
app.insertData(data)

connect successfully
INSERT INTO chengdu(date,hightem,lowtem,temperature,winddirection,windpower) VALUES (%s,%s,%s,%s,%s,%s);
Successful insert

In [ ]:
app

下面进行调试

In [7]:

data = {
    "date": "2018-04-30", 
    "hightem": "10", 
    "lowtem": "29", 
    "temperature": "18", 
    "winddirection": "多云", 
    "windpower": "东北风"}

table = 'chengdu'
keys = ','.join(data.keys())
print(keys)
values = ','.join(['%s']*len(data))
print(values)
sql = 'INSERT INTO {table}({keys}) VALUES ({values})'.format(table=table, keys=keys, values=values)
print(sql)
print(tuple(data.values()))

date,hightem,lowtem,temperature,winddirection,windpower
%s,%s,%s,%s,%s,%s
INSERT INTO chengdu(date,hightem,lowtem,temperature,winddirection,windpower) VALUES (%s,%s,%s,%s,%s,%s)
('2018-04-30', '10', '29', '18', '多云', '东北风')

In [ ]:
INSERT INTO chengdu VALUES('2018-04-30', '10', '29', '18', '多云', '东北风')

In [8]:
name = 'chengdu'
sql = '''CREATE TABLE IF NOT EXISTS {name}(
        date date not null primary key,
        hightem int,
        lowtem int,
        temperature int,
        winddirection varchar(10),
        windpower varchar(10));'''.format(name=name)
print(sql)

CREATE TABLE IF NOT EXISTS chengdu(
        date date not null primary key,
        hightem int,
        lowtem int,
        temperature int,
        winddirection varchar(10),
        windpower varchar(10));